@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #121212;
  --bg-primary: #f8f9fa;
  --bg-secondary: #ffffff;
  --small-ct: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --container-small: var(--small-ct);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media screen and (max-width: 1024px) {
  body {
    background: var(--bg-secondary);
  }
}

/* Customização da Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(71, 71, 71, 0.363);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.05);
}
