@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #121212;
  --bg-primary: #f8f9fa;
  --bg-secondary: #ffffff;
  --small-ct: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --container-small: var(--small-ct);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media screen and (max-width: 1024px) {
  body {
    background: var(--bg-secondary);
  }
}
